@{
    ViewBag.Title = "Home Page";
}
@model  IEnumerable<PetApplication.Entity.PetResultViewModel>


<div class="body-content">
    <div class="row">
        @Html.Partial("_PetNameGenderSort", Model)
    </div>
</div>